.bbsheader
{
    height:150px;
}
#loginbar
{
    text-align: right;
    height: 30px;
    background-image: url(../img/nav-bar1.png);
    background-repeat: repeat-x;
    vertical-align: middle;
    padding: 10px 10px 0px;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight: bolder;
    color: #871F19;
}
#loginbar a {color:#871F19 ; text-decoration:none; font-weight:bolder;}
#loginbar a:hover {color:#FFFFCC; text-decoration:none;}

#mapandinfor
{
    height:45px;
    background-color:#C8DA62;
    padding:15px 10px;
    position:relative;
    	
}
#mapandinfor img
{
	vertical-align:text-bottom;
}
#timeinfor
{
    clear:both;
	float:right;
	padding:0px;
	margin:0px 0px auto auto;
}
#bbscontainer
{
    background-color:#ECDEC1;
    padding:0px;
    position:relative;
    margin:0px;
    min-height:380px;	
}
#bbscontainer table tr
{
    border-bottom:solid 1px gray;
    height:35px;
    vertical-align:middle;
}
.bbstitle
{
    height: 30px;
    vertical-align: middle;
    padding: 5px 10px 0px;
    margin: 5px 0px;
    color: #72032F;
    border-top: solid 4px #E6954E;
    border-bottom: solid 1px #55A3FF;
    background-color: #D8E8FF;
    font-family: 隶书;
    font-weight: bolder;
    font-size:x-large;
    cursor: pointer;
    background-image:url(../img/bbs/bbstitle1.png);
}
.bbscontent
{
	padding:20px 10px 0px;
	margin:0px;
	font: 宋体, Arial, Helvetica, sans-serif medium bolder normal normal capitalize ;
	color:black;
	background-color:#E6F7D2;
}
.bbscontent table
{
	margin-left:0px;
	width:100%;
}
.bbscontent table tr
{
    border-bottom:solid 1px gray;
    height:35px;
    vertical-align:middle;
}
.bbscontent table tr:hover
{
    border-bottom:solid 0px gray;
    background-color:#F3F0EB;	
}
.comLabel
{
	color:black;
	border:none;
	text-align:left;
}
.panelLabel
{
	color: #669900;
	border: none;
	font-family: 楷体_GB2312;
	font-size: medium;
	font-weight: bolder;
	float: right;
	vertical-align: bottom;
}
.combtn
{
    color:black;
	border:none;
	text-align:center;
	background-color:#005AF2;
	color:White;
    cursor:pointer;	
}
.comtxt
{
	color:black;
	border:solid 1px gray;
	text-align:left;
	width:150px;
}
.rbstyle
{
	float:left;
}

.bbsLabel
{
    color: #CC3300;
    border: none;
    text-align: left;
    font-family: 宋体, Arial, Helvetica, sans-serif;
}
.bbsmainBtn
{
    color: #CC3300;
    border: none;
    text-align: left;
    font-family: 宋体, Arial, Helvetica, sans-serif;
}
#tiecontainer
{
     background-color:#E6F7D2;
     position:relative;
     border-top:solid 5px #E8E1AF;
     margin-top:2px;
}
#tiecontainer ul, #tiecontainer ul li
{
    display: block;
    list-style: none;
    margin: 0px 0px 0px 10px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: black;
}
#tieleftsidebar
{
   float:left;
   width:15%;
   background-color:#E6F7D2;
}
#tierightsidebar
{
   float:right;
   width:84.5%;
   background-color:#F3F0EB;
   position:relative;
}
#tieinfo
{
   width:97.5%;
   height:30px;
   background-color:#E5E5D7;
   padding:10px 0px 0px 20px;
   vertical-align:bottom;
   border-bottom:solid 1px #55A0FF;
}

#tiecontent
{
   width:94.7%;
   min-height:200px;
   background-color:#F3F0EB;
   padding:20px;
}
.tiecontent
{
  border:none;
  
}
#tieqianming
{
   width:97.5%;
   height:100px;
   background-color:#E6F3FB;
   border-top:solid 1px #55A0FF;
   padding:10px;
}
.qianmingtext
{
    border:none;
    width:auto;
    height:auto;
    color:#66CC99;
}
#tiecaozuo
{
   width:97.5%;
   height:30px;
   background-color:#EAE9EA;
   border-bottom:solid 2px #E6F7D2;
   padding:10px 10px 0px;
}
#tiecaozuo img:hover
{
   cursor:pointer;
}
.labelright
{
    color: #3365B8;
    border: none;
    text-align: left;
    font-family: 宋体, Arial, Helvetica, sans-serif;
    float:right;
    font-weight:bolder;
    margin-right:10px;
}
.tielabel
{
	color: #333333;
}
#editcontainer
{
	border: 0px solid #3399FF;
    padding-top:10px;
    position:relative;
}
#replyedit
{
	font-family: 幼圆;
	font-size: medium;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066FF;
	height:30px;
	display:block;
}
#adminLogin
{
    width:100%;
    margin:0px auto;
    padding:50px auto;
    	
}
#pic
{
    margin-left:100px;
    float:left;
    height:212px;
    width:400px;
    text-align:left;	
}
#pic img
{
    height:212px;
    width:400px;
    border:none;	
}
#logintable
{
    float:left;	
}
/*---------------------------------
    Gridview控件的样式
----------------------------------*/
.gvglobalstyle
{
    width:100%;
    border:solid 1px #55A0FF;
    line-height:24px;
    visibility:visible;
    font-size:12px;
    color:Black;
    text-align:center;
}
.gvheaderstyle
{
    background-color:#E6F7D2;
    color:#CC3300;
}
.gvfooterstyle
{
    background-color:#D6E7FF;
}
.gvtemplatefieldstyle
{
    text-align:center;
    width:50px;
}
.gvzhutistyle
{
    width:50%;
}
.gvtienumstyle
{
    width:10%;
}
.gvzuozhestyle
{
    width:10%;
}
.gvzuihoustyle
{
     width:auto;
}